.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    background-color: #F2F2F2;
}

.container {
    background-color: #F2F2F2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-greeting {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 30px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.button-grid > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-button {
    width: 500px;
    height: 200px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FEFEFE;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clock-button:disabled {
    background-color: #FEFEFE;
    color: #F2F2F2;
    cursor: default;
}

@media (max-width: 768px) {
    .button-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
    }

    .clock-button {
        width: 100%;
        height: auto;
    }
}
